body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-image {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .product-image {
    width: 100%;
  }

  .thumbnail {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 769px) {
  .product-image {
    width: 50%;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
  }
}
